<!--
  Copyright (c) 2018 Liceo L. Da Vinci, Arzignano (VI)
  Copyright (c) 2018 Bevilacqua Joey

  Licensed under the GNU GPLv3 license

  The text of the license can be found in the LICENSE file
  or at https://www.gnu.org/licenses/gpl.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="it.liceoarzignano.bold.pings">
    <dist:module
            dist:onDemand="true"
            dist:title="@string/title_pings">
        <dist:fusing dist:include="false"/>
    </dist:module>
</manifest>

